<!DOCTYPE html>
<html>
<head>
<title>Unify</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Unify</h1>
<!--<img src="Headshot.jpg" alt="A picture of Miles" title="A picture of Miles" 
width="300" height="440";
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);>-->

<h2>Welcome to Unify</h2>
<p></p>

<h2></h2>
<p><a href="courses1.html">AI Coach</a></p>
<p><a href="interests1.html">Contacts</a></p>
<p><a href="contact1.html">Contact Info</a></p>

<hr>

</body>
</html>