{% extends "Base.html" %}

{% block content %}
<link rel="stylesheet" href="static/style.css">
<div class="login">
  <h2>Register</h2>
  <div class="container">
    <form>
      <input class = "input" type="fName" placeholder="first name" required />
      <input class = "input" type="lName" placeholder="last name" required />
      <input class = "input" type="email" placeholder="Email" required />
      <input class = "input" type="password" placeholder="Password" required />
      <button type="submit" class="btn primary">Login</button>
    </form>
  </div>
  <a href="/login">Login</a>
</div>
{% endblock %}

